@font-face {
    font-family: "Nunito Sans";
    src: local("NunitoSans"), 
        url("../fonts/NunitoSans_10pt-Regular.woff2") format("woff2"),
        url("../fonts/NunitoSans_10pt-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "Yeseva One";
    src: local("YesevaOne"),
        url("../fonts/YesevaOne-Regular.woff2") format("woff2"),
        url("../fonts/YesevaOne-Regular.ttf") format("ttf");
}

body {
    margin: 0;
    font-family: 'Nunito Sans', Arial;
}

body * {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
    font-size: 11px;
}

.button_transparent {
    background: transparent;
    box-shadow: none;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
}

.logo {
    text-transform: uppercase;
    color: #E3B873;
    font-size: 11px;
}

.header {
    background-color: black;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 83px;
    max-width: 1250px;
}

.navigation {
    list-style: none;
    display: flex;
}

.navigation__item {
    margin-right: 47px;
    font-size: 11px;
}

.navigation__item a {
    text-decoration: none;
    color: white;
}

.header a[href^="tel:"] {
    color: #E3B873;
    font-size: 11px;
}

.hero {
    background-image: url('../images/hero.jpg');
    background-size: cover;
    height: 707px;
}

.hero-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.hero-container {
    position: relative;
    z-index: 1;
    padding-top: 194px;
    padding-right: 537px;
    padding-left: 42px;
}

.title {
    margin: 0;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    color: #E3B873;
}

.subtitle {
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #181818;
}

.title_large {
    font-size: 40px;
    line-height: 53px;
}

.title_medium {
    font-size: 27px;
    line-height: 37px;
}

.title_small {
    font-size: 20px;
    line-height: 28px;
}

.title_extra_small {
    font-size: 14px;
    line-height: 19px;;
}

.title_white {
    color: white;
}

.title_grey {
    color: #363636;
}

.title_align_center {
    text-align: center;
}

.title_uppercase {
    text-transform: uppercase;
}

.text {
    color: white;
}

.text_black {
    color: black;
}

.text_large {
    font-size: 22px;
    line-height: 36px;
}

.text_medium {
    font-size: 18px;
    line-height: 36px;
}

.text_small {
    font-size: 14px;
    line-height: 26px;
}

.text_extra_small {
    font-size: 13px;
    line-height: 23px;
}

.hero-buttons-container {
    display: flex;
}

.hero-buttons-container button {
    margin-right: 20px;
}

.input-label {
    font-family: 'Nunito Sans', Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    margin-bottom: 7px;
}

.input-text {
    display: block;
    width: 100%;
    font-family: 'Nunito Sans', Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    background: transparent;
    border-width: 0 0 1px 0;
    border-style: solid;
    padding-bottom: 3px;
}

.input_light {
    color: #FFFFFF;
}

.input_dark {
    color: #363636;
}

.input-label.input_light {
    color: #FFFFFF80;
}

.input-label.input_dark {
    color: #36363680;
}

.input-text.input_light {
    border-color: #FFFFFF80;
}

.input-text.input_dark {
    border-color: #FFFFFF26;
}

.input-text::placeholder.input_light {
    color: #FFFFFF;
}

.input-text ::placeholder.input_dark {
    color: #363636;
}

.input-checkbox {
    width: 18px;
    height: 18px;
    margin: 0;
    padding: 0;
}

.input-checkbox:after {
    border: 1.5px solid #FFFFFF;
}

.input-checkbox:checked:after {
    content: url("../images/checkbox_checked.svg");
}

.projects-gallery {
    background: #131313;
    height: 1074px;
}

#projects-gallery-container {
    position: relative;
    max-width: 1170px;
    height: 552px;
    margin-top: 107px;
    background: #131313;
}

.pager {
    background: transparent;
}

.pager-button {
    background: transparent;
    border: none;
}

.pager-button > img {
    background: transparent;
    margin: 9px;
}

.pager-button_backward {
    margin-right: 12px;
}

.pager-button_forward {
    margin-left: 12px;
}

.list-vertical {
    list-style: none;
    padding: 0;
}

.list-vertical_columns_2 {
    columns: 2;
    column-gap: 20px;
}

.list-horizontal {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

.list-horizontal > .list-item {
    display: inline-block;
}

.list-vertical > .list-item {
    margin-bottom: 34px;
}

#projects-gallery-description {
    width: 442px;
    display: inline-block;
    margin-top: 70px;
}

#projects-gallery-description h2 {
    width: 253px;
}

#projects-gallery-pager {
    position: absolute;
    bottom: 0;
    left: 0;
}

#projects-gallery-image {
    float: right;
    width: 60%;
}

#projects-gallery-image .list-horizontal {
    margin-top: 0;
    margin-bottom: 45px;
}

#projects-gallery-image .list-item_selected * {
    text-decoration: underline;
}

#online-control {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.title-separator-image {
    display: flex;
    justify-content: center;
}

.title-separator-image img:nth-child(2) {
    margin: 0 9px;
}

#online-control-demo {
    position: relative;
    width: fit-content;
    height: fit-content;
    width: 100%;
    text-align: center;
}

#online-control-demo img:nth-child(2) {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

#online-control-text {
    max-width: 680px;
}

#online-control-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 769px;
    margin: 92px auto;
}

.online-control-form-input-container {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 200px;
}

#online-control-form-submit {
    width: 200px;
}

#online-control-form-agreement {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    text-align: center;
    margin-top: 33px;
}

#types-of-repair {
    height: 608px;
}

#types-of-repair-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1236px;
    margin: 0 auto;
}

.types-of-repair-item {
    position: relative;
}

.repair-description {
    position: absolute;
    width: 330px;
    height: 286px;
    bottom: -159px;
    left: 31px;
    background: white;
    box-shadow: 10px 10px 20px 0px #00000008;
    padding: 25px 34px;
}

.repair-description-list {
    list-style-position: inside;
    padding: 0;
    margin: 13px auto;
}

.repair-description-list li {
    font-size: 13px;
    color: #959595;
}

.repair-item-button {
    position: absolute;
    bottom: -186px;
    left: 32px;
    width: 228px;
    height: 54px;
}

#request-measurer-container {
    position: relative;
    width: 1643px;
    height: 725px;
    /* top: 3473px; */
    /* left: -303px; */
    margin-top: 124px;
}

#request-measurer-service-container {
    float: left;
    position: relative;
    display: inline;
    width: 1006px;
    height: 645px;
    /* top: 3473px;
    left: 703px; */
    background: url("../images/request-measurer/background.svg");
    background-repeat: no-repeat;
    float: left;
    margin-right: 131px;
}

#request-measurer-service-container ol {
    position: absolute;
    left: 552px;
    top: 117px;
    margin-left: 0;
    padding-left: 0;
    counter-reset: ol-counter;
    list-style: none;
}

#request-measurer-service-container ol :not(:last-child) {
    margin-bottom: 102px;
}

#request-measurer-service-container ol li {
    counter-increment: ol-counter;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#request-measurer-service-container ol li div::before {
    content: counter(ol-counter);
}

#request-measurer-service-container ol li div {
    content: "";
    display: block;
    background: url("../images/request-measurer/circle.svg");
    background-repeat: no-repeat;
    position: relative;
    left: -88px;
}

#request-measurer-request-container {
    display: inline-block;
    position: relative;
    min-width: 506px;
    min-height: 509px;
    background: #131313;
    box-shadow: 0px 30px 30px 0px #0000000D;
}

#request-measurer-request-container h4 {
    color: white;
    text-align: center;
    width: 297px;
    margin: 28px auto;
}

#request-measurer-form {
    margin-top: 11px;
    padding: 11px 49px 27px;
}

#request-measurer-form-text-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 244px;
    margin-bottom: 16px;
}

#request-measurer-form-submit {
    float: right;
    margin-top: 39px;
}

#discount-offer {
    margin-top: 38px;
}

#discount-offer img {
    float: left;
    margin-left: 32px;
}

#discount-offer p {
    display: inline-block;
    width: 250px;
}

.examples-container {
    background: url("../images/examples/background.jpg");
    background-repeat: no-repeat;
    width: 1440px;
    height: 864px;
    margin-top: 242px;
    padding: 100px;
}

#examples-names-list {
    color: white;
    list-style: none;
    margin-top: 47px;
}

#examples-names-list li {
    font-size: 20px;
    margin-bottom: 23px;
}

#examples-names-list li:nth-child(1) {
    color: #E3B873;
    text-decoration: underline;
}

#examples-gallery {
    position: relative;
    float: right;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
    height: 1019px;
    width: 750px;
    padding: 0;
    top: -212px;
}

#examples-gallery img:nth-child(1) {
    margin-top: 72px;
}

.our-clients-content {
    max-width: 1236px;
    margin-top: 310px;
}

.our-clients-content h2 {
    text-align: center;
    margin: 13px;
}

.our-clients-content p {
    text-align: center;
    margin: 39px;
}

#feedback-list {
    display: flex;
    justify-content: space-between;
    gap: 54px;
}

.client-feedback {
    width: 376px;
    height: 455px;
    padding: 20px;
}

.client-feedback-title {
    margin: 36px;
}

.client-feedback-title img {
    float: left;
}

.client-feedback-title p {
    position: relative;
    display: inline-block;
    text-align: left;
    width: 178px;
    line-height: 22px;
    top: -20px;
}

.client-feedback p {
    text-align: left;
    margin: 0;
}

.client-feedback-results {
    position: relative;
    display: flex;
    gap: 2px;
    top: 27px;
}

.client-feedback-results div {
    position: relative;
    width: 147px;
    height: 54px;
    background: #E3B873;
    top: 27px;
}

.client-feedback-result img {
    float: left;
    margin: 10px;
}

.client-feedback-result p {
    position: relative;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-size: 17px;
    text-align: left;
    color: white;
    top: 18px;
}

.ask-question-content {
    margin: 132px auto;
    width: 883px;
    height: 445px;
    background-color: black;
}

.ask-question-content h2 {
    text-align: center;
    margin: 34px auto;
}

#ask-question-form {
    display: flex;
    flex-direction: column;
    gap: 48px;
    width: 520px;
    height: 305px;
    margin: 45px 182px 34px;
}

#ask-question-form-first-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 58px;
}

#ask-question-form-first-line div {
    width: 50%;
}

#ask-question-form-submit {
    width: 200px;
    height: 51px;
    align-self: center;
    margin-bottom: 34px;
}

#ask-question-form-agreement {
    flex-grow: 1;
    flex-shrink: 0;
    text-align: center;
    margin-top: 33px;
}

.contacts-content {
    background-image: url("../images/contacts/background.jpg");
    background-repeat: no-repeat;
    width: 1440px;
}

.contacts-decoration {
    position: relative;
    display: flex;
    justify-content: center;
    top: -767px;
    margin-bottom: -490px;
}

.contacts-decoration img {
    overflow: hidden;
}

.contacts-information {
    width: 589px;
    text-align: center;
    margin: 0 auto;
}

#contacts-logos {
    margin: 26px;
}

.contacts-map {
    width: 925px;
    margin: 0 auto;
}

.footer {
    background-color: black;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 133px;
    max-width: 1250px;
}
